*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */
header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
}
.banner{
    text-align: right;
   padding-bottom: 830px;
   padding: 270px 250px 260px 600px;
}
.banner-title{
    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 24px;
}
.banner-info{
    color: white;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 180%;
    
    
}

/* button  */
.btn{
    background-color: white;
    color: #005FAC;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;

}


/* My failure styles */

.failure{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-right: 150px;
    margin-top: 130px;
}
.body-info-container{
    text-align: left;
    margin-top: 255px;
}
.women{
    width: 670px;
    height: 830px;
}
.body-title{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 24px;
}
.body-info{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 160%;
    letter-spacing: 1px;
}
.failure li{
    list-style: none;
    line-height: 200%;
    font-size: 18px;
}
.fa-check{
    color: rgb(108, 215, 0);
}


/* My Plans Style  */

.plans h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 90px;

}
.my-plans{
    display: flex;
    gap: 150px;
    justify-content: center;
}
.my-plans img{
    padding-left: 12px;
    margin-bottom: 15px;
}
.plan-items{
    text-align: center;
}
.my-plans p{
    color: #737272;
    font-size: 20px;
}
.my-plans h2{
    margin-bottom: 10px;
}

/* card styles */

/* url(../images/gradient1.png) */

.card{
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png)  ; 
    /* background-blend-mode: overlay; */
    background-size: cover;
    width: 1300px;
    height: 343px;
    margin-left: 305px;
    margin-top: 150px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 130px;
}
.card-info{
    padding-top: 57px;
    padding-left: 57px;
}
.card h2{
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
}

/* Footer styles */
.the-end{
    display: flex;
    /* align-items: center; */
    gap: 450px;
    background-color:rgb(19, 44, 68);
    /* padding-bottom: 200px; */
    justify-content: center;
}

/* left footer  */

.left-footer{
    color: white;
    padding: 100px 0;

}
.left-footer h2{
    font-size: 55px;
    margin-bottom: 20px;
}
.left-footer p{
    font-size: 20px;
    line-height: 200%;
    
}
.email{
    margin-bottom: 15px;
    margin-top: 15px;
}
.phone{
    margin-bottom: 40px;
}

.icon{
    display: flex;
    gap: 15px;
}
/* .right-footer  */


.right-footer{
    color: white;
    padding: 100px 0;

}
.right-footer p{
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 20px;
}
input{
    display: block;

    background-color: rgb(19, 44, 68);
    border: 2px solid white;
    border-radius: 8px;
    
    font-size: 22px;
    padding: 22px 59px 22px 23px;
    margin-bottom: 20px;
    
}
input::placeholder{
    color: rgba(255, 255, 255, 0.541);
}

.btn-2{
    padding: 22px 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px; 
    background: #005FAC;
    color: white;
    font-size: 23px;
}