*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */
header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
}
.banner{
    text-align: right;
   padding-bottom: 830px;
   padding: 270px 250px 260px 600px;
}
.banner-title{
    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 24px;
}
.banner-info{
    color: white;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 180%;
    
    
}

/* button  */
.btn{
    background-color: white;
    color: #005FAC;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;

}


/* My failure styles */

.failure{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-right: 150px;
    margin-top: 130px;
}
.body-info-container{
    text-align: left;
    margin-top: 255px;
}
.women{
    width: 670px;
    height: 830px;
}
.body-title{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 24px;
}
.body-info{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 160%;
    letter-spacing: 1px;
}
.failure li{
    list-style: none;
    line-height: 200%;
    font-size: 18px;
}
.fa-check{
    color: rgb(108, 215, 0);
}


/* My Plans Style  */

.plans h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.my-plans{
    display: flex;
    gap: 150px;
    justify-content: center;
}
.my-plans img{
    padding-left: 12px;
    margin-bottom: 15px;
}
.plan-items{
    text-align: center;
}
.my-plans p{
    color: #737272;
    font-size: 20px;
}
.my-plans h2{
    margin-bottom: 10px;
}